<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>About Dojo Parks</title>
</head>
<body>
    <header>
        <h1>Dojo Parks Company</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
    </header>
    <main>
        <h1>About</h1>
        <h1>{{session['name']}}</h1>
        <P>{{session['description']}}</P>
        <form action="/addAbout" method='post'>
            <label for="name">Company Name: </label>
            <input type="text" name='name'>
            <label for="description">Description: </label>
            <textarea name="description" cols="30" rows="10"></textarea>
            <button>Add Content</button>
        </form>
    </main>
    <footer>
        
    </footer>
</body>
</html>