<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Employees</title>
</head>
<body>
    <header>
        <h1>Dojo Parks Company</h1>
        <nav>
            <a href="/">Home</a>
            <a href='/park/addPark'>Add New Park</a>
            <a href="/employees">Employees</a>
        </nav>
    </header>
    <main>
        <h3>List of all Employee's: </h3>
        <div class="row wrap">
            {% for w in allWorkers %}
                <h4>* {{w.eFirstName}} {{w.eLastName}}</h4>
            {% endfor %}
        </div>
        <form action="/employees/createEmployee" method='post'>
            <section>
                <label for="eFirstName">First Name: </label>
                <input type="text" name='eFirstName'>
            </section>
            <section>
                <label for="eLastName">Last Name: </label>
                <input type="text" name='eLastName'>
            </section>
            <section>
                <label for="eEmail">Email: </label>
                <input type="email" name='eEmail'>
            </section>
            <section>
                <label for="parks_id"></label>
                <select name="parks_id">
                    <option value="">Select Park</option>
                    {% for p in allParks %}
                        <option value="{{p.id}}">{{p.parkName}}</option>
                    {% endfor %}
                </select>
            </section>
            <button>Add Employee</button>
        </form>
    </main>
</body>
</html>