<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dojo Parks Company</title>
</head>
<body>
    <header>
        <h1>Dojo Parks Company</h1>
        <nav>
            <a href="/">Home</a>
            {% if session['user_id'] %}
            <a href='/park/addPark'>Add New Park</a>
            <a href="/employees">Employees</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Welcome!</h1>
        <h2>See a list of our Parks</h2>
        {% for p in allParks %}
            <h3>{{p.parkName}}</h3>
            <button><a href="/park/viewPark/{{p.id}}">View Park Info</a></button>
        {% endfor %}
    </main>
    <footer>

    </footer>
</body>
</html>