<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{onePark.parkName}}</title>
</head>
<body>
    <header>
        <h1>Dojo Parks Company</h1>
        <nav>
            <a href="/">Home</a>
            <a href='/park/addPark'>Add New Park</a>
            <a href="/employees">Employees</a>
        </nav>
    </header>
    <main>
        <div class="column">
            <h2>{{onePark.parkName}}</h2>
            <h4>Is a {{onePark.parkType}} style park, Located in {{onePark.parkLocation}}</h4>
            <p>{{onePark.parkDesc}}</p>
            <button><a href="/park/deletePark/{{onePark.id}}">Remove Park</a></button>
            <div class="columm">
                <h4>List of Employee's at {{onePark.parkName}}</h4>
                <ul>
                    {% for w in park %}
                        <li><a href="/employees/viewEmployee/{{w.id}}">{{w.eFirstName}} {{w.eLastName}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <form action="/park/updatePark/{{onePark.id}}" method='post'>
            <section>
                <label for="parkName">Park Name: </label>
                <input type="text" name='parkName' value='{{onePark.parkName}}'>
            </section>
            <section>
                <label for="parkDesc">Park Description: </label>
                <textarea name="parkDesc" cols="30" rows="10">{{onePark.parkDesc}}</textarea>
            </section>
            <section>
                <label for="parkLocation">Park Location: </label>
                <input type="text" name='parkLocation' value='{{onePark.parkLocation}}'>
            </section>
            <section>
                <label for="parkType">Park Type: </label>
                <input type="text" name='parkType' value='{{onePark.parkType}}'>
            </section>
            <button>Update Park</button>
        </form>
    </main>
</body>
</html>