.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@purple: #800080;
@ltPurple: #c582c5;
@flash: #ff000081;
@font: #fff;
@bg: #8b8beb;

body {
    .flexcolumn();
    background-color: @bg;
    color: @font;

    header {
        .flexcolumn();
        width: 95%;

        nav {
            .flexrow();
            justify-content: space-evenly;
            width: 100%;
            margin: 1em;
            border: 3px groove @purple;

            a {
                text-decoration: none;
                color: black;
                margin: 1em;
                padding: 1em;
                border: 3px groove @ltPurple
            }
        }
    }
    .flash {
        background-color: @flash;
        color: @font;
        
        h3 {
            padding: 1em;
        }
    }
    main {
        .flexcolumn();
        width: 95%;

        .row {
            .flexrow();
            width: 95%;

            form {
                max-width: 500px;
                margin: 1em;
                padding: 1em;
            }
        }
    }
}