<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Inventory Application</title>
</head>
<body>
    <header>
        <h1>Inventory Application</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <section class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for m in messages %}
                    <h3>{{m}}</h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <main>
        <h1>Welcome to your Dashboard {{user.firstName}}</h1>

        <h3>Here are your current items: {{user.firstName}}</h3>
        <!-- make sure you use the self.itemList that was created for the join to call it here -->
        <ul>
            {% for items in usersItems.itemList %}
                <li>{{items.itemName}}</li>
            {% endfor %}
        </ul>
        
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>